//Developed and designed by Youness, Yisi, and Foluke
doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../css/base.css')
  title LetsGo | #{title}

section.menue
  img#logo(src='../images/logo6.png' alt='')
  p
    span L
    | ets
    span G
    | o
  a(href='https://touch.facebook.com/' target='_blank')
    i#facebook.fab.fa-facebook
  a(href='https://www.instagram.com/accounts/login/' target='_blank')
    i#instagram.fab.fa-instagram-square
  a(href='https://twitter.com/LOGIN' target='_blank')
    i#twiter.fab.fa-twitter
  a(href='https://www.youtube.com/?hl=fr&gl=CA' target='_blank')
    i#youtube.fab.fa-youtube
  .dvs
    a#contact(href='/') Home
    a#gal(href='/destination') Destinations
    a#register(href='/overview') Booking
    a#register(href='/contact') Contact
    a(href='/about') About
section.userLogin
   
   
footer#foot
  
    //content
    block content
    //- h1 This is a placeholder heading 
    