//Developed and designed by Foluke
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='../css/contact.css')
  script(src='https://kit.fontawesome.com/d33a4677ad.js' crossorigin='anonymous')
  title Contact Us
// Menue-Bar
section.menue
  img#logo(src='../images/logo6.png' alt='')
  p
    span L
    | ets
    span G
    | o
  a(href='https://touch.facebook.com/' target='_blank')
    i#facebook.fab.fa-facebook
  a(href='https://www.instagram.com/accounts/login/' target='_blank')
    i#instagram.fab.fa-instagram-square
  a(href='https://twitter.com/LOGIN' target='_blank')
    i#twiter.fab.fa-twitter
  a(href='https://www.youtube.com/?hl=fr&gl=CA' target='_blank')
    i#youtube.fab.fa-youtube
  .dvs
    a#contact(href='/') Home
    a#gal(href='/destination') Destinations
    a#register(href='/overview') Booking
    a#contact(href='/contact') Contact
    a(href='/about') About
// End of Menue-Bar
.mid-container
  h2.head-text Contact Us
  h3.next-text
    | Do leave us a message and we will surely get back to you....
  .contact
    .contact-form
      form
        .row
          .input50
            input(type='text' name='fname' placeholder='First Name' required='')
          .input50
            input(type='text' placeholder='Last Name')
        .row
          .input50
            input(type='text' name='mail' placeholder='Email' required='')
          .input50
            input(type='text' placeholder='Subject')
        .row
          .input100
            textarea(name='message' placeholder='Message' required='')
        .row
          .input100
            input(type='submit' value='SEND')
    .contact-info
      .info-box
        img.contact-icon(src='../images/address.png' alt='')
        .details
          h4 Office Address
          h5 1425 24th street NW
          h5 Calgary,AB
          h5 T4J 0Y5
        br
        .details
          h4 Branch Office
          h5 381 Field House Drive
          h5 Okotoks,AB
          h5 T1S 1H3
      .info-box
        img.contact-icon(src='../images/email.png' alt='')
        .details
          h4 Email
          a(href='mailto:letsgo@yahoo.com') letsgo2021@gmail.com
          br
          a(href='mailto:letsgo@yahoo.com') letsgo@yahoo.com
      .info-box
        img.contact-icon(src='../images/call.png' alt='')
        .details
          h4 Call
          a(href='tel:+14025639845') +1 402 563 9845
          br
          a(href='tel:+14025639850') +1 402 563 9850

