//Developed and designed by Youness
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/destination.css')
  script(src='https://kit.fontawesome.com/d33a4677ad.js' crossorigin='anonymous')
  title Destination

section.menue
  img#logo(src='/images/logo6.png' alt='')
  p
    span L
    | ets
    span G
    | o
  a(href='https://touch.facebook.com/' target='_blank')
    i#facebook.fab.fa-facebook
  a(href='https://www.instagram.com/accounts/login/' target='_blank')
    i#instagram.fab.fa-instagram-square
  a(href='https://twitter.com/LOGIN' target='_blank')
    i#twiter.fab.fa-twitter
  a(href='https://www.youtube.com/?hl=fr&gl=CA' target='_blank')
    i#youtube.fab.fa-youtube
  .dvs
    a#contact(href='/') Home
    a#gal(href='/destination') Destinations
    a#register(href='/overview') Booking
    a#register(href='/contact') Contact
    a(href='/about') About
// animated-Bar
.sideBar
  p
    | Corona COVID-19 update:   We are available to help you by Phone and by Appointment
// End of animated-bar
// title and paragraph styling
section.description
  h1 We bring the word to you
  p.momo
    | LetsGo takes care of every aspect of your vacation. 
    br
    |  Offering tours, activities, and airport taxis in addition to the standard services. 
    br
    |        We also provide individual airlines, hotels, bed and breakfasts, cruise lines, automobile rental companies, and other travel-related services.
// End-title and paragraph styling
// Morocco-Package
.morocco-container
  p.morocco-package Morocco-Package 
  a(href='/morocco')
    button.morocco-findmore
      | Find Out More 
      span
      span
      span
      span
  img.morocco-image(src='/images/morocco-main.jpg' alt='')
// End-Morocco-Package
// Mexico-Package
.mexico-container
  p.mexico-package Mexico-Package 
  a(href='/mexico')
    button.mexico-findmore Find Out More
  img.mexico-image(src='/images/mexico.jpg' alt='')
// End-Mexico-Package
// Jamaica-Package
.jamaica-container
  p.jamaica-package Jamaica-Package 
  a(href='/jamaica')
    button.jamaica-findmore Find Out More
  img.jamaica-image(src='/images/jamaica-main.jpg' alt='')
// End-Mexico-Package
// Egypt-Package
.egypt-container
  p.egypt-package Egypt-Package 
  a(href='/egypt')
    button.egypt-findmore
      | Find Out More
      span
      span
      span
      span
  img.egypt-image(src='/images/egypt.jpg' alt='')
// End-Egypt-Package
.partners
  img(src='/images/top-up.jpg' alt='')
footer#foot
  p#cop
    i.far.fa-copyright
    |     Copyright LetsGo 2021