//Developed and designed by Youness
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/egypt.css')
  title Egypt-Package
// Menue-Bar
section.menue
  img#logo(src='/images/logo6.png' alt='')
  p
    span L
    | ets
    span G
    | o
  a(href='https://touch.facebook.com/' target='_blank')
    i#facebook.fab.fa-facebook
  a(href='https://www.instagram.com/accounts/login/' target='_blank')
    i#instagram.fab.fa-instagram-square
  a(href='https://twitter.com/LOGIN' target='_blank')
    i#twiter.fab.fa-twitter
  a(href='https://www.youtube.com/?hl=fr&gl=CA' target='_blank')
    i#youtube.fab.fa-youtube
  .dvs
    a#contact(href='/') Home
    a#gal(href='/destination') Destinations
    a#gal(href='/overview') Booking
    a#register(href='/contact') Contact
    a(href='/about') About
// body
.title
  p Hidden Gems of Egypt Vacation Packages
.collection
  img.img1(src='/images/mexico1.jpg' alt='')
  img.img2(src='/images/mexico2.jpg' alt='')
  img.img3(src='/images/mexico3.jpg' alt='')
  p
    | With a fascinating history that reaches back to the dawn of civilization, Egypt is considered the oldest travel destination on earth. The African nation&rsquo;s awe-inspiring temples and pyramids have captured the imagination of travelers for thousands of years.
    | Although most people come to Egypt to view its ancient monuments, natural attractions beckon travelers too. The Red Sea coast is known for its coral reefs and beach resorts. A trek through the Sahara can lead visitors to refreshing freshwater spring oasis.
.offers
a(href='/destination')
  img.ret(src='/images/return.jpg' alt='')
footer#foot
  p#cop
    i.far.fa-copyright
    |       Copyright LetsGo 2021