//Developed and designed by Youness
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/jamaica.css')
  script(src='https://kit.fontawesome.com/d33a4677ad.js' crossorigin='anonymous')
  title Jamica-Package
// Menue-Bar
section.menue
  img#logo(src='/images/logo6.png' alt='')
  p
    span L
    | ets
    span G
    | o
  a(href='https://touch.facebook.com/' target='_blank')
    i#facebook.fab.fa-facebook
  a(href='https://www.instagram.com/accounts/login/' target='_blank')
    i#instagram.fab.fa-instagram-square
  a(href='https://twitter.com/LOGIN' target='_blank')
    i#twiter.fab.fa-twitter
  a(href='https://www.youtube.com/?hl=fr&gl=CA' target='_blank')
    i#youtube.fab.fa-youtube
  .dvs
    a#contact(href='/') Home
    a#gal(href='/destination') Destinations
    a#gal(href='/overview') Booking
    a#register(href='/contact') Contact
    a(href='/about') About
// body
.title
  p Hidden Gems of Jamaica Vacation Packages
.collection
  img.img1(src='/images/j1.jpg' alt='')
  img.img2(src='/images/j2.jpg' alt='')
  img.img3(src='/images/j3.jpg' alt='')
  p
    | The birthplace of reggae and home to some of the Caribbean&rsquo;s most beautiful beaches, Jamaica is the ideal destination for travellers looking to soak up the sun and experience local island culture. With a range of family-friendly resorts and adults only properties to choose from along the coast, there&rsquo;s something for vacationers of all ages and travel styles. Explore the island&rsquo;s natural beauty and discover its rich culture on an exciting excursion across lush mountainous landscapes on a Jeep safari.
.offers
a(href='/destination')
  img.ret(src='/images/return.jpg' alt='')
footer#foot
  p#cop
    i.far.fa-copyright
    |       Copyright LetsGo 2021