//Developed and designed by Youness
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/morocco.css')
  script(src='https://kit.fontawesome.com/d33a4677ad.js' crossorigin='anonymous')
  title Mexico-Package
// Menue-Bar
section.menue
  img#logo(src='/images/logo6.png' alt='')
  p
    span L
    | ets
    span G
    | o
  a(href='https://touch.facebook.com/' target='_blank')
    i#facebook.fab.fa-facebook
  a(href='https://www.instagram.com/accounts/login/' target='_blank')
    i#instagram.fab.fa-instagram-square
  a(href='https://twitter.com/LOGIN' target='_blank')
    i#twiter.fab.fa-twitter
  a(href='https://www.youtube.com/?hl=fr&gl=CA' target='_blank')
    i#youtube.fab.fa-youtube
  .dvs
    a#contact(href='/') Home
    a#gal(href='/destination') Destinations
    a#gal(href='/overview') Booking
    a#register(href='/contact') Contact
    a(href='/about') About
// body
.title
  p Hidden Gems of Mexico Vacation Packages
.collection
  img.img1(src='/images/mexico1.jpg' alt='')
  img.img2(src='/images/mexico2.jpg' alt='')
  img.img3(src='/images/mexico3.jpg' alt='')
  p
    | Whether travellers are planning a classic beach getaway or an action-packed adventure, this varied destination has something to offer everyone. Sun-seekers can lounge by the sparkling shores of Riviera Maya or unwind on the untouched beaches of Isla Holbox off the coast of Cancun. The famous Mayan sites of Chich&eacute;n Itz&aacute; and Tulum are a must-see for visitors heading to Cancun and the surrounding area, where travellers can learn all about the region&rsquo;s fascinating history and vibrant culture.
.offers
a(href='/destination')
  img.ret(src='/images/return.jpg' alt='')
footer#foot
  p#cop
    i.far.fa-copyright
    |       copyright LetsGo 2021